<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.dicomflow.androiddicomflow">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.ServiceListActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ServiceDetailActivity"
            android:label="@string/title_serviço_detail"
            android:launchMode="singleInstance"
            android:parentActivityName=".activities.ServiceListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.dicomflow.androiddicomflow.activities.ServiceListActivity" />
        </activity>
        <activity
            android:name=".activities.ActionDetailActivity"
            android:label="@string/title_action_detail"
            android:launchMode="singleInstance"
            android:parentActivityName=".activities.ServiceDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.dicomflow.androiddicomflow.activities.ServiceDetailActivity" />
        </activity>
    </application>

</manifest>